{% load staticfiles %}
<!DOCTYPE>
<HTML>
<HEAD>
    <title>{% block title %}FRIJ{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    {% endblock %}
</HEAD>
<BODY ng-app="{% block app %}{% endblock %}">
<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static 'frij/script/angular.js' %}"></script>
{% endblock %}
</BODY>
</HTML>