<html>
<head>
    <title>Testing Shit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>
        .form-control.boom {
            width: 80%;
            display: inline;
            height:70px;
            font-size:40px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="background: lightgray">
            <form class="form-horizontal">
                <ul class="list-unstyled">
                    <li class="form-group">
                        <img class="control-label" src="../../static/frij/icon/WTR.png"/>
                        <input type="text" class="form-control boom"/>
                    </li>
                    <li class="form-group">
                        <img src="../../static/frij/icon/GAS.png"/>
                        <input type="text" class="form-control boom"/>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>