{% extends "frij/base.html" %}
{% load staticfiles %}

{% block title %}Frij{% endblock %}

{% block app %}frij.utility{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'frij/style/style.css' %}">
    <style>

    </style>
{% endblock %}

{% block content %}
    <div ui-view></div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'frij/script/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'frij/script/utils.js' %}"></script>
    <script src="{% static 'frij/script/directives.js' %}"></script>
    <script src="{% static 'frij/script/services.js' %}"></script>
    <script src="{% static 'frij/script/controllers.js' %}"></script>
    <script src="{% static 'frij/script/Chart.min.js' %}"></script>
{% endblock %}