.total {
    margin-left: 150;
    font-size: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.form-control.util-amount-input {
    width: 80%;
    display: inline;
    height: 70px;
    font-size: 40px;
}

.util-header {
    font-size: 40;
}